.DS_Store
L3_Advanced_Processing_Techniques/side_image.jpg
.gitignore
L3_Advanced_Processing_Techniques/slight_turn.jpg
L3_Advanced_Processing_Techniques/group.jpg
race_car-*.mp4
L2_Filters_and_Enhancement/base_for_solution_exercise_3.ipynb
L3_Advanced_Processing_Techniques/Faces/